.hidden {
    display: none;
}

.card .card-content {
    min-height: 100px;
}

.nav-wrapper.container {
    width: 90%;
}

.card-action {
    height: 77px;
    text-align: center;
}

.card-action a {
    margin: 0 !important;
}

.m4 .card .card-content p {
    height: 220px;
}

.text-lighten-4 {
    font-size: 20px;
}

.text-lighten-4 img {
    width: 20px;
    margin-left: 20px;
    margin-right: 10px;
}

.nav-container {
    width: 100%;
    background-color: #26a69a;
}

.nav-links{
    background: #26a69a!important;
    padding: 0;
    height: 33px;
    line-height: 33px;
    -webkit-box-shadow: none!important;
}

.fake-title {
    background-color: #26a69a;
    border-radius: 5px;
    padding: 5px;
}

table {
    background-color: #fff;
    padding: 20px;
}

nav {
    background-color: #303F9F !important;
}

footer {
    background-color: #3F51B5 !important;
}